.navigation{

	color: white;
	height: 50px;
  .font-family: 'Exo 2', sans-serif;
}

.navigation ul{
	margin-top: 0px;
	list-style: none;
	padding-left: 0px;
	text-align: right;
	height: 50px;

}

.navigation li{
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	line-height: 50px;
	font-size: 18px;
	font-weight: 100;

}
html,
 body {
   height: 100%;
   width: 100%;

 }

.footer{
      height: 30px;
      font-size: 14px;
}
 .shadow {
   text-shadow: black 0.1em 0.1em 0.5em;
   font-family: 'Exo 2', sans-serif;
}

.proximo{
  margin-top: -5px;
  color: #D5D5D5;
  text-shadow: black 0.1em 0.1em 0.5em;
}

.text-center{
  text-align: center;
  color: WHITE;
}
.btn-green{
  color: white;
  background-color: #3ebcb2;
  border-color: #009688;
}

a:focus a:hover{
  color: #dfe6e9;
  text-decoration: underline !important;
  text-decoration: none !important;
  background-color: #e84393;
}
section{
padding: 100px;
background-color: #BCBCBC;
}

.cor-section{
  background-color: #A3A3A3;
}

hr.light {
  border-width: 4px;
  max-width: 200px;
}

section h1.font{
  text-align: center;
  color: #dfe6e9;
  text-transform: uppercase;
  font-weight: 700;

}

.photo-tamanho {
    max-width:300px;
    max-height:400px;
    width: auto;
    height: auto;
}

.tamb-img{

}

.thumbnail{
  border: 2px solid #10ac84 !important;
}
header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/fundo2.jpg');
  text-align: center;
  color: white;
}

/* .fundo {
  opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
} */

.background-section{
    /* background-image: url('../img/fundo3.jpg'); */
    background-color: #white;
}

header .header-content {
   position: relative;
   text-align: center;
   padding: 100px 15px 100px;
   width: 100%;
 }

 .img-icon{
     width: 20%;
     border: 7px solid #10ac84;
 }

 header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    text-align: center;
  }

  @media (min-width: 768px) {
   header {
     min-height: 100%;
     text-align: center;
   }
   header .header-content {
     position: absolute;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     padding: 0 50px;
     text-align: center;

   }
   header .header-content .header-content-inner {
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     padding-top: 10px;
   }
   header .header-content .header-content-inner h1 {
     font-size: 50px;
     text-align: center;
   }
   header .header-content .header-content-inner p {
     font-size: 18px;
     max-width: 80%;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
   }
 }
